<div class="contenedor-principal">
  <div class="contenedor-form">
      <form action="">
          <h2>Crear Clientes</h2>
          <tr>
              <td>Ingrese su cedula</td>
              <td><input type="number" name="dni" id="" #clienteDes></td>
          </tr>

          <tr>
              <td>Ingrese su nombre</td>
              <td><input type="number" name="dni" id="" #operadora></td>
          </tr>

          <tr>
              <td>Ingrese su direccion</td>
              <td><input type="text" name="dni" id="" #monto></td>
          </tr>

          <button (click)="recargar(clienteDes, operadora, monto)">Guardar</button>
      </form>

      <h2>Clientes Existentes</h2>

      <div class="contenedor-tabla">
          <table>
              <tr>
                  <th>Codigo</th>
                  <th>DNI</th>
                  <th>Nombre</th>
                  <th>Direccion</th>
                  <th></th>
              </tr>

              <tr *ngFor="let cli of clientes | async">
                  <td>{{cli.codigo}}</td>
                  <td>{{cli.dni}}</td>
                  <td>{{cli.nombre}}</td>
                  <td>{{cli.direccion}}</td>
                  <!--td><button class="btn-eliminar" (click)="eliminar(cli.codigo)">Eliminar</button>
                      <button class="btn-editar" (click)="editar(cli)">Editar</button>
                  </td-->

              </tr>
          </table>
      </div>
  </div>
  </div>
<router-outlet />
